CHANGELOG.md
Dockerfile
LICENSE
README.md
action.yml
examples
wordlist.txt
.dockerignore
.github
.github/auto_assign.yml
.github/dependabot.yml
.github/workflows
.github/workflows/docker-build.yml
.github/workflows/markdownlint.yml
.github/workflows/spelling_action.yml
.gitignore
.markdownlint.json
.pre-commit-config.yaml
.shellcheckrc
.stevedoreignore
CODE_OF_CONDUCT.md
dictionary.dic
prototypes
prototypes/issue86.sh
prototypes/quotes.sh
prototypes/shell-loop.sh
prototypes/split.sh
requirements.txt
spellcheck-github-actions.code-workspace
spellcheck.yaml
