backrefs==5.0.1
beautifulsoup4==4.9.3
bracex==2.1.1
html5lib==1.1
lxml==4.9.1
Markdown==3.3.4
pymdown-extensions==8.2
pyspelling==2.7.3
PyYAML==5.4.1
six==1.16.0
soupsieve==2.2.1
wcmatch==8.2
webencodings==0.5.1
