name: Docker Image CI

on: [push, pull_request]

jobs:

  docker-build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag spellcheck:$(date +%s)
