name: Spellcheck Action

on:
  # Enabling manual test
  # REF: https://stackoverflow.com/questions/58933155/manual-workflow-triggers-in-github-actions
  workflow_dispatch:
  push:

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:

      # The checkout step
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4

      - uses: rojopolis/spellcheck-github-actions@2b78e363a487cd137993dc2cddc17a43c89bf7a1 # ratchet:rojopolis/spellcheck-github-actions@v0
        name: Spellcheck
        with:
          source_files: README.md CHANGELOG.md
          task_name: Markdown
          output_file: spellcheck-output.txt

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # ratchet:actions/upload-artifact@v4
        if: '!cancelled()'
        name: Archive spellcheck output
        with:
          name: Spellcheck artifact
          path: spellcheck-output.txt
